body {
    background-color: #1F2124;
    color: #F2F3F4;
    text-align: center;
}

#header {
    background-color: #000000;
    height: 50px;
    margin: 0px;
}

nav a {
    color: #F2F3F4;
    text-decoration: none;
}

nav a:hover {
    color: #888888;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

li:first-child a {
    font-weight: bold;
}

nav li {
    display: inline-block;
    padding-top: 15px;
    margin: 0 10px;
}

#header_image_and_bio {
    display: flex;
    align-items: center;
    justify-content: center;
}

#headshot_image {
    width: 25%;
    margin: 8px;
    border: 2px solid #000000;
    border-radius: 8px;
}

#hello_paragraph {
    font-size: 14px;
}

#more_info {
    font-size: 12px;
}

#socials_paragraph {
    font-size: 14px;
}

#click_below {
    font-size: 12px;
}

#socials_icons_and_links {
    display: flex;
    justify-content: space-around;
}