body {
    background-color: #1F2124;
    color: #F2F3F4;
    text-align: center;
}

#header {
    background-color: #000000;
    height: 50px;
    margin: 0px;
}

nav a {
    color: #F2F3F4;
    text-decoration: none;
}

nav a:hover {
    color: #888888;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    display: inline-block;
    padding-top: 15px;
    margin: 0 10px;
}

#header_image_and_bio {
    display: flex;
    align-items: center;
    justify-content: center;
}